include LICENSE
include requirements.txt
include requirements-dev.txt
include requirements-py3-dev.txt
recursive-include phantasy/tests/config *
recursive-include phantasy/tests/data *
recursive-include phantasy/tests/lattice *
recursive-include phantasy/apps/trajectory_viewer/config *
