xlrd>=1.1,<2.0
matplotlib>=3.1.2,<4.0
lmfit>=1.0.0,<2.0
cothread>=2.16,<3.0
pyepics>=3.4.2,<4.0
flame-code>=1.8.6,<2.0
flame-utils>=0.4.1,<1.0
requests>=2.24.0,<3.0
pandas>=1.1.4,<2.0
toml>=0.10.1,<1.0
python-unicorn>=0.4.4,<1.0
flame-data
epicscorelibs
importlib_metadata
phantasy-machines
click
