[Unit]
Description=PhysicsApps File Service
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/lib/phantasy-plugins/fileServerApp -port 5000 /files/shared/ap/HLA
StandardOutput=file:/tmp/fileServer.access.log
StandardError=file:/tmp/fileServer.error.log
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
