Source: python-phantasy
Section: python
Priority: optional
Maintainer: Tong Zhang <zhangt@frib.msu.edu>
Build-Depends: debhelper (>=9), dh-python, python-all,
               python-setuptools, python-xlrd, python-scipy,
               python-numpy, python-matplotlib, python-flame,
               python-cfclient, python-scanclient, python-cothread,
               python-lmfit, python-nose, python-nose-exclude,
               python-coverage
Standards-Version: 3.9.6
Homepage: https://controls.frib.msu.edu/phantasy/
X-Python-Version: >= 2.7
Vcs-Git: https://stash.frib.msu.edu/scm/phyapp/python-phantasy.git
Vcs-Browser: https://stash.frib.msu.edu/projects/PHYAPP/repos/phantasy/browse

Package: python-phantasy
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, python-flame,
         python-cfclient, python-scanclient, python-cothread,
         python-lmfit
Suggests: python-phantasy-apps, python-genopt 
Description: Software framework for high-level controls (Python 2)
 Physics high-level applications and toolkits for accelerator system,
 created for FRIB commissioning, utilizing FLAME as accelerator modeling
 tool.
