[Desktop Entry]
Version=1.0
Type=Application
Name=Wire Scanner App
Comment=Measure beam profile with wire scanner application
Terminal=false
Exec=wire_scanner
Icon=phantasy-ws
StartupNotify=false
Keywords=Phantasy;profile;monitor;wire-scanner;
Categories=Science;Physics;
