[Desktop Entry]
Version=1.0
Type=Application
Name=Trajectory Viewer
Comment=Visualize the beam central trajectory
Terminal=false
Exec=trajectory_viewer
Icon=phantasy-tv
StartupNotify=false
Keywords=Phantasy;trajectory;
Categories=Science;Physics;
