[Desktop Entry]
Version=1.0
Type=Application
Name=Unicorn App
Comment=Convert units between engineering and physics fields
Terminal=false
Exec=unicorn_app
Icon=phantasy-unicorn
StartupNotify=false
Keywords=Phantasy;Unicorn;
Categories=Science;Physics;
