[Desktop Entry]
Version=1.0
Type=Application
Name=Quad Scan App
Comment=Measure the transverse emittance by quadrupole scan
Terminal=false
Exec=quad_scan
Icon=phantasy-qs
StartupNotify=false
Keywords=Phantasy;emittance;
Categories=Science;Physics;
