{% extends "latticemodel/layout.html" %}

{% block title %}Upload :: Lattice{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		{%- macro latticediff(lat1, lat2) %}
			<tr>
				<td><b>Lattice Type: </b></td>
				<td>
					{%- for lt in lattice_types if lt.type == lat1.lattice_type %}
					{%- if lat1.lattice_type != lat2.lattice_type %}
					<span class="text-danger">{{lt.name|e}}</span>
					{%- else %}
					<span class="text-info">{{lt.name|e}}</span>
					{%- endif %}
					{%- endfor %}
				</td>
			</tr>
			<tr>
				<td><b>Particle Type</b></td>
				<td>
					{%- for pt in particle_types if pt.type == lat1.particle_type %}
					{%- if lat1.particle_type != lat2.particle_type %}
					<span class="text-danger">{{pt.name|e}}</span>
					{%- else %}
					<span class="text-info">{{pt.name|e}}</span>
					{%- endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td><b>Name: </b></td>
				<td>
					<a href="{{ reverse_url('lattice_details', lat1._id) }}">
					{%- if lat1.name != lat2.name %}
					<span class="text-danger">{{lat1.name|e}}</span>
					{%- else %}
					<span class="text-info">{{lat1.name|e}}</span>
					{%- endif %}
					</a>
				</td>
			</tr>
			<tr>
				<td><b>Branch: </b></td>
				<td>
					{%- if lat1.branch != lat2.branch %}
					<span class="text-danger">{{lat1.branch|e}}</span>
					{%- else %}
					<span class="text-info">{{lat1.branch|e}}</span>
					{%- endif %}
				</td>
			</tr>
			<tr>
				<td><b>Version: </b></td>
				<td>
					{%- if lat1.version != lat2.version %}
					<span class="text-danger">{{lat1.version|e}}</span>
					{%- else %}
					<span class="text-info">{{lat1.version|e}}</span>
					{%- endif %}
				</td>
			</tr>
			<tr>
				<td><b>Description: </b></td>
				<td>
					{%- if lat1.description != lat2.description %}
					<span class="text-danger">{{lat1.description|e}}</span>
					{%- else %}
					<span class="text-info">{{lat1.description|e}}</span>
					{%- endif %}
				</td>
			</tr>
			<tr>
				<td><b>Created By: </b></td>
				<td>
					{%- if lat1.created_by != lat2.created_by %}
					<span class="text-danger">{{lat1.created_by}}</span>
					{%- else %}
					<span class="text-info">{{lat1.created_by}}</span>
					{%- endif %}
				</td>
			</tr>
			<tr>
				<td><b>Creation Date: </b></td>
				<td>
					{%- if lat1.created_date != lat2.created_date %}
					<span class="text-danger">{{lat1.created_date}}</span>
					{%- else %}
					<span class="text-info">{{lat1.created_date}}</span>
					{%- endif %}
				</td>
			</tr>
		{%- endmacro %}
		<div class="col-xs-6">
		<h3>Lattice 1</h3>
		<table class="table">
			{{ latticediff(lattice[0], lattice[1]) }}
		</table>
		</div>
		<div class="col-xs-6">
		<h3>Lattice 2</h3>
		<table class="table">
			{{ latticediff(lattice[1], lattice[0]) }}
		</table>
		</div>
	</div>

	<div class="row">

		{%- macro latticeprop(cls, prop) %}
			<td><span>{{ prop.name|e }}</span></td>
			<td><span class="{{cls}}">{{ prop.value|e }}{% if prop.unit %} {{ prop.unit|e }}{% endif %}</span></td>
		{% endmacro %}

		{%- macro latticepropdiff(lat1, lat2) %}

			{% set properties = [] %}
			{% for p in lat1.properties  %}
				{% if (p.name, p.unit) not in properties %}
					{% do properties.append((p.name, p.unit)) %}
				{% endif %}
			{% endfor %}
			{% for p in lat2.properties  %}
				{% if (p.name, p.unit) not in properties %}
					{% do properties.append((p.name, p.unit)) %}
				{% endif %}
			{% endfor %}

			{%- for pname, punit in properties %}
			<tr>
				{%- for prop1 in lat1.properties if prop1.name == pname and prop1.unit == punit %}
					{%- for prop2 in lat2.properties if prop2.name == pname and prop2.unit == punit %}
						{%- if prop2.value != prop1.value %}
							{{ latticeprop("text-danger", prop1) }}
						{%- else %}
							{{ latticeprop("text-info", prop1) }}
						{%- endif %}
					{%- else %}
						{{ latticeprop("text-success", prop1) }}
					{%- endfor %}
				{%- endfor %}
			<tr>
			{%- endfor %}
		{%- endmacro %}
		<div class="col-xs-6">
			<table class="table">
				<thead>
					<tr>
						<th><h4>Properties</h4></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{ latticepropdiff(lattice[0], lattice[1]) }}
				</tbody>
			</table>
		</div>
		<div class="col-xs-6">
			<table class="table">
				<thead>
					<tr>
						<th><h4>Properties</h4></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{ latticepropdiff(lattice[1], lattice[0]) }}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">

	{%- macro elementstr(cls, val) %}
		<span class="{{cls}}">{{ val|e }}</span>
	{%- endmacro %}

	{%- macro elementrnd(cls, val, prec) %}
		{% if val is number %}
		<span class="{{cls}}">{{ val|round(prec) }}</span>
		{% else %}
		<span class="{{cls}}">{{ val|e }}</span>
		{% endif %}
	{%- endmacro %}

	{%- macro elementprop(cls, prop) %}
		<span class="{{cls}}">{{ prop.name }}{% if prop.unit %}[{{prop.unit}}]{% endif %} = {{ prop.value }}</span>
	{%- endmacro %}

	{%- macro latticeelemdiff(elem1, elem2) %}

		{%- set diff_plus = [] %}
		{%- set diff_minus = [] %}
		{%- set elem_name = "" %}
		{%- set elem_type = "" %}
		{%- set elem_length = "" %}
		{%- set elem_position = "" %}
		{%- set elem_properties = [] %}

		{%- if elem1 %}
			{%- if elem2 %}
				{%- if elem2.name != elem1.name %}
					{%- do diff_minus.append(True) %}
					{%- set elem_name = elementstr("text-danger", elem1.name) %}
				{%- else %}
					{%- set elem_name = elementstr("text-info", elem1.name) %}
				{%- endif %}

				{%- if elem2.type != elem1.type %}
					{%- do diff_minus.append(True) %}
					{%- set elem_type = elementstr("text-danger", elem1.type) %}
				{%- else %}
					{%- set elem_type = elementstr("text-info", elem1.type) %}
				{%- endif %}

				{%- if elem2.length != elem1.length %}
					{%- do diff_minus.append(True) %}
					{%- set elem_length = elementrnd("text-danger", elem1.length, 4) %}
				{%- else %}
					{%- set elem_length = elementrnd("text-info", elem1.length, 4) %}
				{%- endif %}

				{%- if elem2.position != elem1.position %}
					{%- do diff_minus.append(True) %}
					{%- set elem_position = elementrnd("text-danger", elem1.position, 4) %}
				{%- else %}
					{%- set elem_position = elementrnd("text-info", elem1.position, 4) %}
				{%- endif %}

				{%- set properties = [] %}
				{%- for p in elem1.properties  %}
					{%- if (p.name, p.unit) not in properties %}
						{%- do properties.append((p.name, p.unit)) %}
					{%- endif %}
				{%- endfor %}
				{%- for p in elem2.properties  %}
					{%- if (p.name, p.unit) not in properties %}
						{% do properties.append((p.name, p.unit)) %}
					{%- endif %}
				{%- endfor %}

				{%- for pname, punit in properties %}
					{%- for prop1 in elem1.properties if prop1.name == pname and prop1.unit == punit %}
						{%- for prop2 in elem2.properties if prop2.name == pname and prop2.unit == punit %}
							{%- if prop2.value != prop1.value %}
								{%- do diff_minus.append(True) %}
								{%- do elem_properties.append(elementprop("text-danger", prop1)) %}
							{%- else %}
								{%- do elem_properties.append(elementprop("text-info", prop1)) %}
							{%- endif %}
						{%- else %}
							{%- do diff_plus.append(True) %}
							{%- do elem_properties.append(elementprop("text-success", prop1)) %}
						{%- endfor %}
					{%- else %}
						{%- do elem_properties.append(elementstr("text-info", "-")) %}
					{%- endfor %}
				{%- endfor %}

			{%- else %}
				{%- do diff_plus.append(True) %}

				{%- set elem_name = elementstr("text-success", elem1.name) %}

				{%- set elem_length = elementrnd("text-success", elem1.length, 4) %}

				{%- set elem_position = elementrnd("text-success", elem1.position, 4) %}

				{%- for prop in elem1.properties %}
					{% do elem_properties.append(elementprop("text-success", prop)) %}
				{%- endfor %}
			{%- endif %}
		{%- endif %}

	<tr class="{% if diff_minus %}bg-danger{% elif diff_plus %}bg-success{% endif %}">
		<td>{{ elem_name }}</td>
		<td>{{ elem_type }}</td>
		<td>{{ elem_length }}</td>
		<td>{{ elem_position }}</td>
		<td>{{ elem_properties|join('<br/>') }}<td>
	</tr>
	{%- endmacro %}
		<div class="col-md-6">
		<h4>Elements</h4>
		<table class="table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Length</th>
				<th>Position</th>
				<th>Properties</th>
			</tr>
			</thead>
			<tbody>
			{%- for lattice_element in lattice_elements %}
				{{ latticeelemdiff(lattice_element[0], lattice_element[1]) }}
			{%- endfor %}
			</tbody>
		</table>
		</div>
		<div class="col-md-6">
		<h4>Elements</h4>
		<table class="table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Length</th>
				<th>Position</th>
				<th>Properties</th>
			</tr>
			</thead>
			<tbody>
			{%- for lattice_element in lattice_elements %}
				{{ latticeelemdiff(lattice_element[1], lattice_element[0]) }}
			{%- endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>
{% endblock %}
