<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Lattice{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{static_url('vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{static_url('latticemodel/css/latticemodel.css')}}">
	{% block styles %}{% endblock %}
	<link rel="shortcut icon" href="{{static_url('latticemodel/img/favicon_lm.png')}}">
</head>
<body>
	<div class="navbar navbar-default navbar-inverse">
		<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/lattice">
					Lattice &amp; Model <span class="version"></span>
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="dropdown {% if search_active %}active{% endif %}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">
						Search<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ reverse_url("lattice_search") }}">Lattice</a></li>
						<li><a href="{{ reverse_url("model_search") }}">Model</a></li>
					</ul>
				</li>
				{%- if current_user is not none %}
				<li class="dropdown {% if upload_active %}active{% endif %}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">
						Upload<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Lattice</li>
						{%- for lt in lattice_types %}
						<li><a href="{{ reverse_url("lattice_upload", lt.type) }}">{{lt.name|escape}}</a></li>
						{%- endfor %}
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Model</li>
						{%- for mt in model_types %}
						<li><a href="{{ reverse_url("model_upload", mt.type) }}">{{mt.name|escape}}</a></li>
						{%- endfor %}
					</ul>
				</li>
				{%- endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{%- if current_user is none %}
				<li>
					<button type="submit" class="btn btn-primary navbar-btn"
							id="login_button" aria-haspopup="false" aria-expanded="false"
							onclick="window.location='{{login_url}}';">
						Sign In
					</button>
				</li>
				{%- else %}
				<li><a href="#">{{current_user}}</a></li>
				<li>
					<button type="submit" class="btn btn-primary navbar-btn dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						onclick="window.location='{{logout_url}}';">
					Sign Out
					</button>
				</li>
				{%- endif %}
			</ul>
		</div>
		</div>
	</div>
	{% block content %}{% endblock %}
	<script type="text/javascript" src="{{static_url('vendor/jquery/js/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('vendor/bootstrap//js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('latticemodel/js/latticemodel.js')}}"></script>
	<script type="text/javascript">
	// configure latticemodel library
	latticemodel.config.lattice_names_url = '{{ reverse_url("web_lattice_names") }}';
	latticemodel.config.lattice_branches_url = '{{ reverse_url("web_lattice_branches") }}';
	latticemodel.config.model_names_url = '{{ reverse_url("web_model_names") }}';
	latticemodel.config.model_elements_property_values_url = '{{ reverse_url("web_model_elements_property_values") }}'
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>