{% extends "latticemodel/layout.html" %}

{% block title %}Upload :: Lattice{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-6">
		<h3>Lattice Details</h3>
		{#{% endverbatim %}
			{% if user.is_authenticated %}
				<button ng-click="updateLattice(lattice.name, lattice.version, lattice.branch)" class="model_update btn btn-success"><i class="icon-edit icon-white"></i> Update lattice</button>
			{% endif %}
		{% verbatim %}#}
		<table class="table">
			<!-- <tr>
				<td><b>Id: </b></td>
				<td><span class="text-info">{{lattice._id}}</span></td>
			</tr> -->
			<tr>
				<td><b>Lattice Type: </b></td>
				<td>
					{%- for lt in lattice_types if lt.type == lattice.lattice_type %}
					<span class="text-info">{{lt.name}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td><b>Particle Type</b></td>
				<td>
					{%- for pt in particle_types if pt.type == lattice.particle_type %}
					<span class="text-info">{{pt.name}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td><b>Name: </b></td>
				<td><span class="text-info">{{lattice.name}}</span></td>
			</tr>
			<tr>
				<td><b>Branch: </b></td>
				<td><span class="text-info">{{lattice.branch}}</span></td>
			</tr>
			<tr>
				<td><b>Version: </b></td>
				<td><span class="text-info">{{lattice.version}}</span></td>
			</tr>
			<!-- <tr ng-if="lattice.latticeFormat">
				<td><b>Lattice Format: </b></td>
				<td><span class="text-info">{{lattice.latticeFormat}}</span></td>
			</tr> -->
			<tr>
				<td><b>Description: </b></td>
				<td><span class="text-info">{{lattice.description}}</span></td>
			</tr>
			<tr>
				<td><b>Created By: </b></td>
				<td><span class="text-info">{{lattice.created_by}}</span></td>
			</tr>
			<tr>
				<td><b>Creation Date: </b></td>
				<td><span class="text-info">{{lattice.created_date}}</span></td>
			</tr>
			<!-- <tr ng-if="lattice.updated">
				<td><b>Updated: </b></td>
				<td><span class="text-info">{{lattice.updated}}</span></td>
			</tr>
			<tr ng-if="lattice.lastModified">
				<td><b>Last Modified: </b></td>
				<td><span class="text-info">{{lattice.lastModified}}</span></td>
			</tr> -->
		</table>
		</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
			<h4>Models</h4>
			<table class="table">
				{%- for m in models %}
				<tr>
					<td>
						<a href="{{ reverse_url("model_details", m._id) }}">
							<span class="glyphicon glyphicon-new-window"></span>
						</a>
					</td>
					<td>{{ m.name|escape }}</td>
					<td>{{ m.description|escape }}<td>
				</tr>
				{%- else %}
				<tr>
					<td colspan="3" >
						<div class="text-center">None</div>
					</td>
				</tr>
				{%- endfor %}
			</table>
			</div>
		</div>

		<div class="row">
		<div class="col-xs-6">
			<table class="table">
				<thead>
					<tr>
						<th>
							<h4>Properties</h4>
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					{%- for p in lattice.properties %}
					<tr>
						<td>
							<span>{{ p.name|escape }}</span>
						</td>
						<td>
							<div class="text-info">{{ p.value|escape }} {{ p.unit|escape }}</div>
						</td>
					</tr>
					{%- else %}
					<tr>
						<td colspan="2">
							<div class="text-center">None</div>
						</td>
					</tr>
					{%- endfor %}
				</tbody>
			</table>
		</div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		<div class="col-xs-6">
			<table class="table">
				<thead>
					<tr>
						<th>
							<h4>Files</h4>
						</th>
						<th>
							{%- if lattice.files %}
							<a href="{{ reverse_url("lattice_files_download", lattice._id) }}">
								<h4><small>Download All</small></h4>
							</a>
							{%- endif %}
						</th>
					</tr>
				</thead>
				<tbody>
				{%- for f in lattice.files %}
				<tr>
					<td>
						<span>{{ f.name|escape }}</span>
					</td>
					<td>
						<a href="{{ reverse_url("lattice_file_download", lattice._id, f.id) }}">
							<span>{{ f.filename|escape }}</span>
						</a>
						<small>({{ f.size|humanize.filesize(gnu=True) }})</small>
					</td>
				</tr>
				{%- else %}
				<tr>
					<td colspan="2">
						<div class="text-center">None</div>
					</td>
				</tr>
				{%- endfor %}
				</tbody>
			</table>
		</div>
		</div>

		<div class="row">
		<div class="col-xs-12">
		<h4>Elements</h4>
		<table class="table">
			{% set element_properties = [] %}
			{% for e in lattice_elements %}
				{% for p in e.properties  %}
					{% if (p.name, p.unit) not in element_properties %}
						{% do element_properties.append((p.name, p.unit)) %}
					{% endif %}
				{% endfor %}
			{% endfor %}

			<thead>
			<tr>
				<th>Order</th>
				<th>Name</th>
				<th>Type</th>
				<th>Length</th>
				<th>Position</th>
				{%- for p in element_properties %}
				<th>{{ p[0] }}{% if p[1] %}[{{ p[1] }}]{% endif %}</th>
				{%- endfor %}
			</tr>
			</thead>
			<tbody>
			{%- for elem in lattice_elements %}
			<tr>
				<td class="text-info">{{ elem.order }}</td>
				<td class="text-info">{% if elem.name %}{{ elem.name|e }}{% else %}-{% endif %}</td>
				<td class="text-info">{{ elem.type|e }}</td>
				<td class="text-info">{{ elem.length }}</td>
				<td class="text-info">{{ elem.position }}</td>
				{%- for pname, punit in element_properties%}
					{%- for p in elem.properties if p.name == pname and p.unit == punit %}
						<td class="text-info">{{ p.value }}</td>
					{%- else %}
						<td class="text-info">-</td>
					{%- endfor %}
				{%- endfor %}
			</tr>
			{%- endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>
{% endblock %}
