{% extends "latticemodel/layout.html" %}

{% block title %}Upload :: Lattice{% endblock %}

{%- block content %}
<div class="container">
<form data-file-upload="options" method="post" enctype="multipart/form-data">
	<div>
		<h3>Upload Lattice</h3>
	</div>
	<div>
		<div class="form-horizontal">
			<div class="form-group {% if errors.lattice_type %}has-error{% endif %}">
				<div class="col-md-2">
					<label class="control-label">Lattice Type</label>
					{%- for lt in lattice_types if lt.type == lattice.lattice_type %}
					<p class="form-control-static">{{ lt.name }}</p>
					{%- endfor %}
				</div>
			</div>
			<div class="form-group {% if errors.particle_type %}has-error{% endif %}">
				<div class="col-md-2">
					<label class="control-label">Particle Type</label>
					<select class="form-control" name="particle_type">
						<option></option>
						{%- for p in particle_types %}
						<option value="{{p.type}}" {% if p.type == lattice.particle_type %}selected{% endif %}>{{p.name}}</option>
						{%- endfor %}
					</select>
					{% if errors.particle_type %}<span class="text-danger">{{errors.particle_type}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.name %}has-error{% endif %}">
				<div class="col-md-6">
					<label class="control-label" for="lattice_name">Name</label>
					<div>
						<input class="form-control" id="lattice_name" name="name"
								type="text" autocomplete="off" value="{{lattice.name}}"/>
					</div>
					{% if errors.name %}<span class="text-danger">{{errors.name}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.branch %}has-error{% endif %}">
				<div class="col-md-6">
					<label class="control-label" for="lattice_branch">Branch</label>
					<div>
						<input class="form-control" id="lattice_branch" name="branch"
							type="text" autocomplete="off" value="{{lattice.branch}}"/>
					</div>
					{% if errors.branch %}<span class="text-danger">{{errors.branch}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.version %}has-error{% endif %}">
				<div class="col-md-2">
					<label class="control-label">Version</label>
					<div class="form-inline">
						<span>
							<input class="form-control" id="lattice_autoversion"
									name="autoversion" type="checkbox" autocomplete="off"
									{% if lattice_autoversion %}checked="checked"{% endif %}/>
							Auto Increment
						</span>
					</div>
					<input class="form-control" id="lattice_version"
							name="version" type="text" autocomplete="off"
							{% if lattice_autoversion %}disabled{% else %}value="{{lattice.version}}"{% endif %}/>
					{% if errors.version %}<span class="text-danger">{{errors.version}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
				<label class="control-label">Description</label>
				<textarea class="form-control" name="description" rows="3">{{lattice.description|escape}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<input class="form-control" name="status_type" type="hidden" value="development"/>
				</div>
			</div>
			<div class="form-group {% if errors.lattice_file %}has-error{% endif %}">
				<div class="col-md-4">
					<label class="control-label">Lattice File (i.e. test.in)</label>
					<input class="btn btn-default" type="file" name="lattice_file"/>
					{% if errors.lattice_file %}<span class="text-danger">{{errors.lattice_file}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.data_file %}has-error{% endif %}">
				<div class="col-md-4">
					<label class="control-label">Data Files (i.e. rfdata421, etc.) </label>
					<input class="btn btn-default" type="file" name="data_file" multiple>
					{% if errors.data_file %}<span class="text-danger">{{errors.data_file}}</span>{% endif %}
					</div>
			</div>

			{%- if errors._global %}
			<div class="row">
				<div class="col-md-6">
					<div class="alert alert-danger" role="alert">{{errors._global}}</div>
				</div>
			</div>
			{%- endif %}

			<div class="form-group">
				<div class="col-md-6">
					<button class="btn btn-primary pull-right" type="submit">Upload</button>
				</div>
			</div>
		</div>
	</div>
</form>
</div>
{%- endblock %}

{%- block scripts %}
<script type="text/javascript" src="{{static_url('vendor/typeahead.js/js/typeahead.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('latticemodel/js/lattice_impact_upload.js')}}"></script>
{%- endblock %}
