{% extends "latticemodel/layout.html" %}

{% block title %}Search :: Lattice{% endblock %}

{% block styles %}
<style>
.compare-button {
	position: fixed;
	height: 36;
	width: 100;
	top: 130px;
	left: -30px;
	transform: rotate(-90deg);
}
</style>
{% endblock %}

{% block content %}
<div style="padding:0px 10px;">
	<button  class="btn btn-primary compare-button hidden">Compare</button>
</div>
<div class="container">
	<ul class="nav nav-tabs">
		<li role="presentation" class="{% if lattices is undefined %}active{% endif %}">
			<a href="#search" aria-controls="search" role="tab" data-toggle="tab">
				<span style="font-size:larger;">Search Lattice</span>
			</a>
		</li>
		{%- if lattices is defined %}
		<li role="presentation" class="active">
			<a href="#results" aria-controls="results" role="tab" data-toggle="tab">
				<span style="font-size:larger;">Results <span class="badge">{{ lattices|length }}</span></span>
			</a>
		</li>
		{%- endif %}
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane {% if lattices is undefined %}active{% endif %}" id="search">
			<form method="post">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-xs-2">
							<label class="lattice_type">Lattice Type:</label>
							<select class="form-control" name="lattice_type">
								<option value=""></option>
								{% for lt in lattice_types %}
								<option value="{{ lt.type }}" {% if lt.type == search.lattice_type %}selected{% endif %}>{{ lt.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-2">
							<label class="particle_type">Particle Type:</label>
							<select class="form-control" name="particle_type">
								<option value=""></option>
								{% for pt in particle_types %}
								<option value="{{ pt.type }}" {% if pt.type == search.particle_type %}selected{% endif %}>{{ pt.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Name:</label>
							<div>
								<input class="form-control" id="lattice_name" type="text"
									name="name" autocomplete="off" value="{{search.name}}"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Branch:</label>
							<div>
								<input class="form-control" id="lattice_branch" type="text"
									name="branch" autocomplete="off" value="{{search.branch}}"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-2">
							<label class="control-label">Version:</label>
							<input class="form-control" id="lattice_version" type="text"
								name="version" value="{{search.version}}"/>
						</div>
					</div>
					{#<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Description:</label>
							<input class="form-control" type="text" name="description" disabled/>
						</div>
					</div>#}
					<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Properties:</label>
							<input class="form-control" type="text"
								name="properties" value="{{search.properties}}"
								placeholder="(i.e ParicleChange=33)"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<button class="btn btn-primary pull-right" type="submit">Search</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		{% if lattices is defined %}
		<div role="tabpanel" class="tab-pane active" id="results">
		<form class="compare-form" method="POST" action="{{ reverse_url('web_lattice_compare') }}">
			<table class="table">
				<tr>
					<th></th>
					<th>Lattice Type</th>
					<th>Particle Type</th>
					<th>Name</th>
					<th>Branch</th>
					<th>Version</th>
					<th>Description</th>
				</tr>

				{%- for lattice in lattices %}
				<tr>
					<td>
						<input class="compare-checkbox" type="checkbox"
							autocomplete="on" name="lattice" value="{{ lattice._id }}"/>
					</td>
					{%- for lt in lattice_types if lt.type == lattice.lattice_type %}
					<td>{{ lt.name }}</td>
					{%- endfor %}
					{%- for pt in particle_types if pt.type == lattice.particle_type %}
					<td>{{ pt.name }}</td>
					{%- endfor %}
					<td>
						<a href="{{ reverse_url("lattice_details", lattice._id) }}">
							<span>{{ lattice.name|escape }}</span>
						</a>
					</td>
					<td>{{ lattice.branch|escape }}</td>
					<td>{{ lattice.version|escape }}</td>
					<td>{{ lattice.description|escape|truncate(40) }}</td>
				</tr>
				{%- else %}
				<tr>
					<td colspan="4">No Results</td>
				</tr>
				{%- endfor %}
			</table>
		</form>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{%- block scripts %}
<script type="text/javascript" src="{{static_url('vendor/typeahead.js/js/typeahead.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('latticemodel/js/lattice_search.js')}}"></script>
{%- endblock %}
