{% extends "latticemodel/layout.html" %}

{% block title %}Model :: Lattice{% endblock %}

{% block styles %}
<style>
.compare-button {
	position: fixed;
	height: 36;
	width: 100;
	top: 130px;
	left: -30px;
	transform: rotate(-90deg);
}
</style>
{% endblock %}

{% block content %}
<div>
	<button class="btn btn-primary compare-button hidden">Compare</button>
</div>
<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="{% if models is undefined %}active{% endif %}">
			<a href="#search" aria-controls="search" role="tab" data-toggle="tab">
				<span style="font-size:larger;">Search Model</span>
			</a>
		</li>
		{%- if models is defined %}
		<li role="presentation" class="active">
			<a href="#results" aria-controls="results" role="tab" data-toggle="tab">
				<span style="font-size:larger;">Results <span class="badge">{{ models|length }}</span></span>
			</a>
		</li>
		{%- endif %}
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane {% if models is undefined %}active{% endif %}" id="search">
			<form method="post">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-xs-2">
							<label class="control-label">Model Type:</label>
							<select class="form-control" name="model_type">
								<option value=""></option>
								{% for mt in model_types %}
								<option value="{{ mt.type }}" {% if mt.type == search.model_type %}selected{% endif %}>{{ mt.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Name:</label>
							<div>
								<input class="form-control" type="text" id="model_name"
										name="name" autocomplete="off" value="{{ search.name }}"/>
							</div>
						</div>
					</div>
					{#<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Description:</label>
							<input class="form-control" type="text" name="description" disabled/>
						</div>
					</div>#}
					<div class="form-group">
						<div class="col-xs-6">
							<label class="control-label">Properties:</label>
							<input class="form-control" type="text"
									name="properties" value="{{search.properties}}"
									placeholder="(i.e ParicleChange=33)"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<button class="btn btn-primary pull-right" type="submit">Search</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		{%- if models is defined %}
		<div role="tabpanel" class="tab-pane active" id="results">
		<form class="compare-form" method="POST" action="{{ reverse_url('web_model_compare') }}">
			<table class="table">
				<tr>
					<th></th>
					<th>Model Type</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
				{%- for model in models %}
				<tr>
					<td>
						<input class="compare-checkbox" type="checkbox"
							autocomplete="on" name="model" value="{{ model._id }}"/>
					</td>
					{%- for mt in model_types if mt.type == model.model_type %}
					<td>{{ mt.name|escape }}</td>
					{%- endfor %}
					<td>
						<a href="{{ reverse_url("model_details", model._id) }}">
							{{ model.name|escape }}
						</a>
					</td>
					<td>{{ model.description|truncate(80) }}</td>
				</tr>
				{%- else %}
				<tr>
					<td colspan="4">No Results</td>
				</tr>
				{%- endfor %}
			</table>
		</form>
		</div>
		{%- endif %}
	</div>
</div>
{% endblock %}

{%- block scripts %}
<script type="text/javascript" src="{{static_url('vendor/typeahead.js/js/typeahead.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('latticemodel/js/model_search.js')}}"></script>
{%- endblock %}
