{% extends "latticemodel/layout.html" %}

{% block title %}Details :: Lattice{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-6">
		<h3>Model Details</h3>
		<table class="table">
			<tr>
				<td><b>Model Type: </b></td>
				<td>
					{%- for mt in model_types if mt.type == model.model_type %}
					<span class="text-info">{{mt.name|e}}</span>
					{%- endfor %}
				</td>
			</tr>
			<tr>
				<td><b>Name:</b></td>
				<td class="text-info">{{ model.name|escape }}</td>
			</tr>
			<tr>
				<td><b>Description:</b></td>
				<td><span class="text-info">{{ model.description|escape }}</span></td>
			</tr>
			<tr>
				<td><b>Lattice:</b></td>
				<td>
					<a href="{{ reverse_url("lattice_details", lattice._id) }}">
						<span class="text-info">{{ lattice.name|e }}</span>
					</a>
				</td>
			</tr>
			<tr>
				<td><b>Created By: </b></td>
				<td><span class="text-info">{{model.created_by}}</span></td>
			</tr>
			<tr>
				<td><b>Creation Date: </b></td>
				<td><span class="text-info">{{model.created_date}}</span></td>
			</tr>
		</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th>
							<h4>Properties</h4>
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					{%- for p in model.properties %}
					<tr>
						<td>
							<span>{{ p.name|escape }}</span>
						</td>
						<td>
							<span>{{ p.value|escape }} {{ p.unit|escape }}</span>
						</td>
					</tr>
					{%- else %}
					<tr>
						<td colspan="2">
							<div class="text-center">None</div>
						</td>
					</tr>
					{%- endfor %}
				</tbody>
			</table>
		</div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		<div class="col-xs-6">
			<table class="table">
				<thead>
					<tr>
						<th>
							<h4>Files</h4>
						</th>
						<th>
							{%- if model.files %}
							<a href="{{ reverse_url("model_files_download", model._id) }}">
								<h4><small>Download All</small></h4>
							</a>
							{%- endif %}
						</th>
					</tr>
				</thead>
				<tbody>
					{%- for f in model.files %}
					<tr>
						<td>
							<span>{{ f.name|escape }}</span>
						</td>
						<td>
							<a href="{{ reverse_url("model_file_download", model._id, f.id) }}">
								<span>{{ f.filename|escape }}</span>
							</a>
							<small>({{ f.size|humanize.filesize(gnu=True) }})</small>
						</td>
					</tr>
					{%- else %}
					<tr>
						<td colspan="2">
							<div class="text-center">None</div>
						</td>
					</tr>
					{%- endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>Element Data</h4>
		</div>
	</div>

	{% set element_properties = [] %}
	{% for e in model_elements %}
		{% for p in e.properties  %}
			{% if (p.name, p.unit) not in element_properties %}
				{% do element_properties.append((p.name, p.unit)) %}
			{% endif %}
		{% endfor %}
	{% endfor %}

	<div class="row">
		<div class="col-md-4">
			<table class="table table-hover table-condensed">
				{%- for p in element_properties %}
				<tr>
					<td class="form-inline model-element-property-controls">
						<input class="form-control model-element-property-enabled"
							type="checkbox" autocomplete="off" onchange="updateModelDataPlot();"/>
						<label class="control-label">
							<span class="model-element-property-name">{{ p[0] }}</span>
							{% if p[1] != "" %}<span>[{{ p[1] }}]</span>{% endif %}
						</label>
						{#<input class="form-control pull-right model-element-property-scale"
							type="text" size="4" value="1" onchange=""/>#}
					</td>
				</tr>
				{%- endfor %}
			</table>
		</div>

		<div class="col-md-8">
			<div class="model-element-data-hint">
				<div class="text-center alert alert-success">
					<h4>Select One or More Properties to Plot Data</h4>
				</div>
			</div>
			<div class="model-element-data-plot" style="height:600px;">
			</div>
			<div class="model-element-data-label hidden">
				<div class="text-center">
					<b>Position [m]</b>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var model_id = '{{ model._id }}';
</script>
<script type="text/javascript" src="{{static_url('vendor/Flot/js/jquery.flot.js')}}"></script>
<script type="text/javascript" src="{{static_url('latticemodel/js/model_details.js')}}"></script>
{% endblock %}
