{% extends "latticemodel/layout.html" %}

{% block title %}Upload :: Model{% endblock %}

{% block content %}
<div class="container">
<form data-file-upload="options" method="post" enctype="multipart/form-data">
	<div>
		<h3>Upload Model</h3>
	</div>
	<div>
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-md-2">
					<label class="control-label">Model Type</label>
					{%- for mt in model_types if mt.type == model.model_type %}
					<p class="form-control-static">{{ mt.name }}</p>
					{%- endfor %}
				</div>
			</div>
			<div class="form-group {% if errors.lattice_id %}has-error{% endif %}">
				<div class="col-xs-6">
					<label class="control-label">Lattice</label>
					<select class="form-control" name="lattice_id">
						<option></option>
						{%- for l in lattices %}
						<option value="{{l._id}}" {% if l._id == model.lattice_id %}selected{% endif %}>
							{{l.name|escape}} / {{l.branch|escape}} / {{l.version}}
						</option>
						{%- endfor %}
					</select>
					{% if errors.lattice_id %}<span class="text-danger">{{errors.lattice_id}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.name %}has-error{% endif %}">
				<div class="col-md-6">
					<label class="control-label">Name</label>
					<div>
						<input class="form-control" id="model_name" name="name"
								type="text" autocomplete="off" value="{{model.name}}"/>
					</div>
					{% if errors.name %}<span class="text-danger">{{errors.name}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
				<label class="control-label">Description</label>
				<textarea class="form-control" name="description" rows="3">{{model.description|escape}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<input class="form-control" name="status_type" type="hidden" value="development"/>
				</div>
			</div>
			<div class="form-group {% if errors.model_fort18 %}has-error{% endif %}">
				<div class="col-md-4">
					<label class="control-label">Model Data (fort.18)</label>
					<input class="btn btn-default" type="file" name="model_fort18"/>
					{% if errors.model_fort18 %}<span class="text-danger">{{errors.model_fort18}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.model_fort24 %}has-error{% endif %}">
				<div class="col-md-4">
					<label class="control-label">Model Data (fort.24)</label>
					<input class="btn btn-default" type="file" name="model_fort24"/>
					{% if errors.model_fort24 %}<span class="text-danger">{{errors.model_fort24}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.model_fort25 %}has-error{% endif %}">
				<div class="col-md-4">
					<label class="control-label">Model Data (fort.25)</label>
					<input class="btn btn-default" type="file" name="model_fort25"/>
					{% if errors.model_fort25 %}<span class="text-danger">{{errors.model_fort25}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group {% if errors.model_fort26 %}has-error{% endif %}">
				<div class="col-md-4">
					<label class="control-label">Model Data (fort.26)</label>
					<input class="btn btn-default" type="file" name="model_fort26"/>
					{% if errors.model_fort26 %}<span class="text-danger">{{errors.model_fort26}}</span>{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">
					<label>Attachments</label>
					<input class="btn btn-default" type="file" name="attachments" multiple>
				</div>
			</div>

			{%- if errors._global %}
			<div class="form-group">
				<div class="col-md-6">
					<div class="alert alert-danger" role="alert">{{errors._global}}</div>
				</div>
			</div>
			{%- endif %}

			<div class="form-group">
				<div class="col-md-6">
					<button class="btn btn-primary pull-right" type="submit">Upload</button>
				</div>
			</div>
		</div>
	</div>
</form>
</div>
{% endblock %}

{%- block scripts %}
<script type="text/javascript" src="{{static_url('vendor/typeahead.js/js/typeahead.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('latticemodel/js/model_impact_upload.js')}}"></script>
{%- endblock %}